{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'topwear' %}" class="list-group-item list-group-item-action" aria-current="true">Topwears</a>
    <a href="{% url 'topweardata' 'local' %}" class="list-group-item list-group-item-action" aria-current="true">Local</a>
    <a href="{% url 'topweardata' 'branded' %}" class="list-group-item list-group-item-action">Branded</a>
   

  </div> 
  </div>
  <div class="col-sm-8">
   <div class="col-sm-8">
    {% for t in topwears %}
     <div class="col-sm-4 text-center mb-4">
      <a href="{% url 'product-detail' t.id %}"
      class="btn">
      <div clss="item">
        <img src="{{t.product_image.url}}" alt="" height="" class="">
        <div class="fw-bold">{{t.title}}</div>
        <div class="fw-bold">Rs.{{t.discounted_price}}
        <small class="fw-light text-decoration-line-through">{{t.selling_price}}</small></div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  

         
  </div>
 </div>
</div>
{% endblock main-content %}